In [19]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import tree, datasets, svm
from collections import Counter
from __future__ import division

pd.set_option("display.max_rows",10)

def countSamples(sampleDict):
    sample_count = Counter()
    for sample in sampleDict:
        sample_count[sample] += 1
    return sample_count

In [3]:
filename = 'Traffic_data.csv'
traffic_data = pd.read_csv(filename)
traffic_data

C:\Program Files\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,YEAR,MONTH,HOUR,WEEKDAY
0,0,03/31/2017,0:00,NaN,NaN,40.645615,-73.909900,"(40.645615, -73.9099)",FOSTER AVENUE,NaN,...,3643404,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,2017,3,0,4
1,1,03/31/2017,0:00,NaN,NaN,40.762737,-73.839510,"(40.762737, -73.83951)",NaN,NaN,...,3643942,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2017,3,0,4
2,2,03/31/2017,0:00,BROOKLYN,11203,40.658478,-73.928180,"(40.658478, -73.92818)",EAST 53 STREET,WINTHROP STREET,...,3643587,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,2017,3,0,4
3,3,03/31/2017,0:00,BROOKLYN,11235,40.580360,-73.967610,"(40.58036, -73.96761)",NEPTUNE AVENUE,OCEAN PARKWAY,...,3643847,NaN,NaN,NaN,NaN,NaN,2017,3,0,4
4,4,03/31/2017,0:00,NaN,NaN,40.845180,-73.914170,"(40.84518, -73.91417)",JEROME AVENUE,NaN,...,3642657,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2017,3,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007125,1007125,07/01/2012,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2896726,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,2012,7,9,6
1007126,1007126,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,...,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012,7,9,6
1007127,1007127,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,...,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012,7,9,6
1007128,1007128,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,...,44907,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN,2012,7,9,6
1007129,1007129,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,...,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,2012,7,9,6

In [40]:
# Duplicating data for 
features = ['CONTRIBUTING FACTOR VEHICLE 1','BOROUGH','NUMBER OF PERSONS KILLED','VEHICLE TYPE CODE 1',
            'HOUR','WEEKDAY']
tree_data = traffic_data[features]

# Replacing NA's with 'OTHER' for vehicle type
tree_data['VEHICLE TYPE CODE 1'].fillna('OTHER', inplace=True)

tree_data = tree_data[tree_data['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
tree_data = tree_data[tree_data['BOROUGH'] != 'UNKNOWN']
tree_data = tree_data.dropna(axis = 0, how = 'any')

# Remove uncommon contributing factors
common_factors = ['Driver Inattention/Distraction','Fatigued/Drowsy','Failure to Yield Right-of-Way',
                  'Other Vehicular','Backing Unsafely','Turning Improperly','Lost Consciousness','Prescription Medication',
                  'Traffic Control Disregarded','Driver Inexperience']

print len(tree_data)
tree_data = tree_data.loc[tree_data['CONTRIBUTING FACTOR VEHICLE 1'].isin(common_factors)]
print len(tree_data)

334947
264187

In [37]:
X = tree_data[features[1:]]
X.loc[:,'BOROUGH'] = pd.factorize(X['BOROUGH'])[0]
#X.loc[:,'ON STREET NAME'] = pd.factorize(X['ON STREET NAME'])[0]
X.loc[:,'NUMBER OF PERSONS KILLED'] = pd.factorize(X['NUMBER OF PERSONS KILLED'])[0]
X.loc[:,'VEHICLE TYPE CODE 1'] = pd.factorize(X['VEHICLE TYPE CODE 1'])[0]
X.loc[:,'HOUR'] = pd.factorize(X['HOUR'])[0]
X.loc[:,'WEEKDAY'] = pd.factorize(X['WEEKDAY'])[0]

y = pd.factorize(tree_data[features[0]])[0]

# Splitting testing and training data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

# Function for model evaluation
def score(pred_data, test_data):
    c = 0
    for i in range(len(test_data)):
        if pred_data[i] == test_data[i]:
            c += 1
    return c/len(test_data)

In [38]:
# Model training and prediction
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
test_pred = clf.predict(X_test)
train_pred = clf.predict(X_train)

print 'The test score is:', score(test_pred,y_test)
print 'The training score is:', score(train_pred,y_train)

The test score is: 0.341345243953
The training score is: 0.371113858888